// *{
//     margin-left: 2%;
//     margin-right: 2%;
//     padding: 0;
//     /* font-family: Poppins; */
//     box-sizing: border-box;
// }

.parentdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    padding: 1em;
    box-sizing: border-box;
}
.btn1{
    font-weight: bold;
    background: #20D77F;
    padding: 20px;
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor:pointer;
    align-items:center ;
}

.btn2 {
    font-weight: bold;
    background: #FF3838;
    padding: 20px;
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}
