.login{
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    width: 90%;
    height: 3%;
}
form{
    display: inline-block;
    .forgot_pass{
        font-size: 19px;
    }
}
